
    .my_account a{
        
        text-decoration: none; 
        color: #333;
        margin-right: 10px; 
      }
      
      .my_account a:hover {
        
        text-decoration: underline; 
        color: #555; 
      }
      .my_account{
        width: 80%;
       
      }
.footer{
    display:flex;
    size:15px;
    background-color: #030303;
    color:white;
    padding: 10px;
}
.contact {
    margin-left: 100px;
}

.notification-bar 
    { background-color: white;
     color: black; 
     padding: 75px; 
     width: 10px;
     height: 10px;
     text-align: left; }
     .tabs
       { 
        display: flex;
        justify-content: space-around; 
        padding: 10px;
        display: flex;
        flex: 1;
        background-color: #f2f2f2; }
     .baraan_dotorh { flex-grow: 1; }
    .quantity-selector { 
        margin: 10px;
           display: flex; 
            align-items: center; }
  
 .products{
    display: flex;
    justify-content: space-around; 
    padding: 10px; 
    background-color: #ffffff; 
    display: flex;
    flex: 1;
  }
    .proddd{
        height: 100px;
        width: 100px;
    }
    .sidebar{
        flex: 1;
        padding: 20px;
        width: 500px;
        height: 200px;
        background-color: #FAFAFA;
       
    }
    button {
        border: none;
        outline: none;
        cursor: pointer;
      }
      
     
      .order-btn {
        padding: 15px 30px;
        background-color: #87CEEB; 
        color: white;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.5s ease;
      }
      
      .order-btn:hover {
        background-color: #3757c1; 
      }

 

  
